* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.time-block {
  margin: 2.4rem auto;
  padding: 0 3.6rem;
  text-align: center;
  border-radius: 15px;
}

/* SCHEDULER
-------------------------------------------------- */

.row {
  white-space: pre-wrap;
  height: 60px;
  border-top: 1px solid white;
}

.cell {
  padding: 8px 10px;
}

/* TEXT AREA
-------------------------------------------------- */

.description {
  padding: 0;
  white-space: pre-wrap;
  text-align: left;
  display: flex;
  justify-content: start;
  align-items: center;
}

.form {
  background: transparent;
  border: none;
  height: 100%;
  margin: 0;
  width: 100%;
  border-left: 1px solid black;
  padding: 10px;
  color: #000;
}

.hour {
  background-color: fff;
  color: #000;
  border-top: 1px dashed #000;
  text-align: right;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.save {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveBtn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.8rem;
}

.saveBtn i:hover {
  color: #000;
  transition: all 0.3s ease-in-out;
}
